body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* Header style */
.titleheader {
  color: var(--bs-primary);
  text-shadow: 1px 1px 2px black, 0 0 25px  var(--bs-pink), 0 0 5px var(--bs-gray-300);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.past .description {
  color: deeppink;
}

.present {
  background-color: #ff6961;
  color: white;
}

.present .description, .present .hour {
  color: var(--bs-primary);
  font-size: 1.05rem;
  font-style: italic;
}

.present .description{
  color: var(--bs-white);
}

.future {
  background-color: #77dd77;
  color: white;
}

.future .description {
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* Style the variable date */
#variabledate, #datepicker {
  font-style: italic;
  color: var(--bs-primary);
}

/* gain attention of user */
#variabledate:hover, #datepicker:hover {
  cursor: pointer;
  font-size: large;
}

/* improve visibility for user */
.description:focus {
  font-size: large;
  font-style: italic;
  color: var(--bs-primary);
}

/* User feedback font styling */
#userFeedback {
  font-weight: 800;
  font-style: italic;
  color: var(--bs-white);
}

/* implement scroll for autocomplete */
.ui-autocomplete {
  max-height: 150px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

/* IE 6 doesn't support max-height
  * we use height instead, but this forces the menu to always be this tall
  */
* html .ui-autocomplete {
  height: 150px;
}

/* Decorate any text */
.outline-deco {
  font-size: larger;
  text-shadow: -1px 0 blue, 0 1px coral, 1px 0 coral, 0 -1px coral;
}

/* Background color for header and footer */
.headerfooter {
  background-color: beige;
}